@using Caldendar.Models
@{
    ViewBag.Title = "DefaultPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calendar</h2>

@using (Html.BeginForm("CalendarEvent", "Calendar", FormMethod.Post))
{
    <input id="datebox" type="text" name="datebox" class="date-picker" value="@ViewBag.InitDate" />
    <br />
    <br />
    <input type="submit" name="ShowEvents" value="Show Events" id="btnShowEvents" runat="server" title="Show Events" class="btn btn-default" />
    <input type="submit" name="CreateDueDate" value="Create New Due Date" id="btnCreateDueDate" runat="server" title="Create New Due Date" class="btn btn-default" />
    <input type="submit" name="CreateEvent" value="Create New Event" id="btnCreateEvent" runat="server" title="Create New Event" class="btn btn-default" />
}

@{
    if (ViewBag.Error != null)
    {
        <p>@ViewBag.Error</p>
    }
}

<br />

<h2>Work for Today:</h2>
@{
    if (ViewBag.WorkAssignments != null)
    {
        foreach (WorkAssignment wa in ViewBag.WorkAssignments)
        {
            <div>
                <p>Name: @wa.name</p>
                <p>Hours to Work Today: @wa.duration</p>
            </div>
            <br />
        }
    }
    else
    {
        <div class="container rounded">
            <h4>No Work Today!</h4>
        </div>
    }
}

<br />

<h2>Events</h2>
@{
    if (ViewBag.Events != null)
    {
        foreach (Event ev in ViewBag.Events)
        {
            <div>
                <p>Name: @ev.name</p>
                @{ if (ev.dt.TimeOfDay != new TimeSpan(0, 0, 0))
                    {
                        <p>Time: @ev.dt.ToString("h:mm tt")</p>
                    }
                }
                <p>Duration: @ev.duration</p>
            </div>
            <br />
        }
    }
    else
    {
        <div class="container rounded">
            <h4>No Events Today!</h4>
        </div>
    }
}