@using Caldendar.Models
@{
    ViewBag.Title = "DefaultPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Calendar</h2>

@using (Html.BeginForm("CalendarEvent", "Calendar", FormMethod.Post))
{
    <input id="datebox" type="text" name="datebox" class="date-picker" value="@ViewBag.InitDate" />
    <br />
    <br />
    <input type="submit" name="ShowEvents" value="Show Day" id="btnShowEvents" runat="server" title="Show Events" class="btn btn-default" />
    <input type="submit" name="CreateDueDate" value="Create New Due Date" id="btnCreateDueDate" runat="server" title="Create New Due Date" class="btn btn-default" />
    <input type="submit" name="CreateEvent" value="Create New Event" id="btnCreateEvent" runat="server" title="Create New Event" class="btn btn-default" />
}

@{
    if (ViewBag.Error != null && ViewBag.Error != "")
    {
        <h3 style="color:red;">@ViewBag.Error</h3>
    }
}

<br />
@{
    if (ViewBag.DueDates != null && ViewBag.DueDates.Count != 0)
    {
        <h2>Due Dates:</h2>
        foreach (DueDate dd in ViewBag.DueDates)
        {            
            <div class="panel" style="background-color:#e2e0e0">
                    <div class="panel-body">
                        <p><b>Name: @dd.name</b></p>
                        <p><b>Time: @dd.dt.ToString("h:mm tt")</b></p>
                         @using (Html.BeginForm("EditDueDate", "Calendar", FormMethod.Post))
                         {
                            string date = dd.dt.Month + "/" + dd.dt.Day + "/" + dd.dt.Year;
                            string time = dd.dt.ToString("h:mm tt");
                            <input type="hidden" name="name" value="@dd.name" />
                            <input type="hidden" name="date" value="@date" />
                            <input type="hidden" name="time" value="@time" />
                            <input type="hidden" name="id" value="@dd.ID" />

                            <input type="submit" title="Edit Due Date" value="Edit Due Date" class="btn btn-default" />
                         }
                    </div>
            </div>
        }
    }
}

<br />

@{
    if (ViewBag.WorkAssignments != null && ViewBag.WorkAssignments.Count != 0)
    {
        <h2>Work for Today:</h2>

        foreach (WorkAssignment wa in ViewBag.WorkAssignments)
        {
            <div class="panel" style="background-color:#e2e0e0">
                <div class="panel-body">
                  <p><b>@wa.name: @wa.duration Hours</b></p>
                </div>
            </div>

        }

    }
}

<br />


@{
    if (ViewBag.Events != null && ViewBag.Events.Count != 0)
    {
        <h2>Events:</h2>
        foreach (Event ev in ViewBag.Events)
        {
            <div class="panel" style="background-color:#e2e0e0">
                    <div class="panel-body">
                        
                                <p><b>@ev.name: @ev.dt.ToString("h:mm tt")</b></p>
                                <p><b>Duration: @ev.duration Hours</b></p>
                                @using (Html.BeginForm("EditEvent", "Calendar", FormMethod.Post))
                                {
                                    string date = ev.dt.Month + "/" + ev.dt.Day + "/" + ev.dt.Year;
                                    string time = ev.dt.ToString("h:mm tt");
                                    <input type="hidden" name="name" value="@ev.name" />
                                    <input type="hidden" name="date" value="@date" />
                                    <input type="hidden" name="time" value="@time" />
                                    <input type="hidden" name="id" value="@ev.ID" />
                                    <input type="hidden" name="duration" value="@ev.duration" />

                                    <input type="submit" title="Edit Event" value="Edit Event" class="btn btn-default" />
                                }
                    </div>
            </div>
        }
    }
}